/* global */

section.section-custom-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.bg-banner {
  background-color: #f1f3ff;
}

/* end of global */

/* section hero banner */

#hero-banner .banner-right {
  padding-top: 400px;
}

#hero-banner img.banner-img {
  z-index: 3;
}

#hero-banner .banner-shape {
  width: 77%;
  height: 50%;
  border-radius: 60px 0 0 0;
  z-index: 2;
}

@media only screen and (min-width: 1000px) {
  #hero-banner .banner-left {
    margin-left: -20px;
  }
}
@media only screen and (max-width: 768px) {
  #hero-banner .banner-left {
    margin-right: 15%;
  }
}
@media only screen and (max-width: 425px) {
  #hero-banner .banner-right {
    padding-top: 250px;
  }
  #hero-banner .banner-title {
    line-height: 1.5em;
    font-size: 2.5em;
  }
}

/* end of section hero banner */

/* Section About */

#about {
  padding-top: 120px;
  padding-bottom: 60px;
}

#about .about-img {
  width: 90%;
  height: auto;
}

#about ul.about-list {
  margin-left: 1.75em;
}
#about ul.about-list li {
  display: flex;
  align-items: center;
  padding-left: 15px;
  margin-bottom: 25px;
}
#about ul.about-list li i {
  background: #cfd4ed;
  padding: 5px;
  border-radius: 50%;
  color: #0d28a6;
}

/* End of section About */

/* Section Why Us */

#whyus {
  padding-bottom: 60px;
}

#whyus .custom-Card-Whyus {
  border-radius: 12px;
  border-width: 2px;
}
#whyus .custom-Card-Whyus .card-body {
  padding: 25px;
}
#whyus .custom-Card-Whyus .fa-Custom-Whyus {
  font-size: 1.5em;
}
#whyus .custom-Card-Whyus .fa-Custom-Whyus i {
  vertical-align: middle;
}

/* End of Section Why Us */
