/* global */

section.section-custom-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.bg-banner {
  background-color: #f1f3ff;
}

/* end of global */

/* Navbar/Header */

@media only screen and (min-width: 991px) {
  nav.navbar a.offcanvas-button {
    display: none;
  }
}
@media only screen and (max-width: 990px) {
  nav.navbar button.navbar-toggler {
    display: none;
  }
  #mobileOffcanvas .offcanvas-header {
    padding-bottom: 0px;
    padding-top: 34px;
  }
  #mobileOffcanvas .offcanvas-body {
    padding-top: 0px;
  }
}

/* End of Navbar / Header */

/*------------------------------ HALAMAN HOME ---------------------------*/

/* section hero banner */

#hero-banner .banner-right {
  padding-top: 550px;
}

#hero-banner img.banner-img {
  z-index: 3;
  min-width: 85%;
}

#hero-banner .banner-shape {
  width: 85%;
  height: 50%;
  border-radius: 60px 0 0 0;
  z-index: 2;
}

@media only screen and (min-width: 1000px) {
  #hero-banner .banner-left {
    margin-left: -20px;
  }
}
@media only screen and (max-width: 768px) {
  #hero-banner .banner-left {
    margin-right: 15%;
  }
  #hero-banner .banner-right {
    padding-top: 400px;
  }
}
@media only screen and (max-width: 425px) {
  #hero-banner .banner-right {
    padding-top: 250px;
  }
  #hero-banner .banner-title {
    line-height: 1.5em;
    font-size: 2.5em;
  }
}

/* end of section hero banner */

/* Section About */

#about {
  padding-top: 120px;
  padding-bottom: 60px;
}

#about .about-img {
  width: 90%;
  height: auto;
}

#about ul.about-list {
  margin-left: 1.75em;
}
#about ul.about-list li {
  display: flex;
  align-items: center;
  padding-left: 15px;
  margin-bottom: 25px;
}
#about ul.about-list li i {
  background: #cfd4ed;
  padding: 5px;
  border-radius: 50%;
  color: #0d28a6;
}

/* End of section About */

/* Section Why Us */

#whyus {
  padding-bottom: 60px;
}

#whyus .custom-Card-Whyus {
  border-radius: 12px;
  border-width: 2px;
}
#whyus .custom-Card-Whyus .card-body {
  padding: 25px;
}
#whyus .custom-Card-Whyus .fa-Custom-Whyus {
  font-size: 1.5em;
}
#whyus .custom-Card-Whyus .fa-Custom-Whyus i {
  vertical-align: middle;
}

/* End of Section Why Us */

/* Section Testimonial */

#testimonial {
  padding-top: 60px;
  padding-bottom: 80px;
}

#testimonial .carousel-testicard {
  flex-wrap: nowrap;
  overflow: scroll;
}

#testimonial .testi-card {
  background-color: #f1f3ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  border: none;
}

#testimonial #myCarousel .carousel-control-prev,
#testimonial #myCarousel .carousel-control-next {
  opacity: 1;
  position: initial;
  width: 60px;
  margin: 0 15px;
}

#testimonial #myCarousel .carousel-nav-container .fa-custom-testimonial {
  font-size: 21px;
}
#testimonial #myCarousel .carousel-nav-container .fa-custom-testimonial i {
  vertical-align: middle;
}
#testimonial #myCarousel .carousel-nav-container .fa-custom-testimonial i.fa-circle {
  color: #fff;
  text-shadow: -1px 0 #c4c4c4, 0 1px #c4c4c4, 1px 0 #c4c4c4, 0 -1px #c4c4c4;
  transition: 0.3s ease;
}
#testimonial #myCarousel .carousel-nav-container .fa-custom-testimonial i.fa-chevron-left,
#testimonial #myCarousel .carousel-nav-container .fa-custom-testimonial i.fa-chevron-right {
  color: #222;
  transition: 0.3s ease;
}
#testimonial #myCarousel .carousel-nav-container .fa-custom-testimonial:hover i.fa-circle {
  color: #5cb85f;
  text-shadow: -1px 0 #5cb85f, 0 1px #5cb85f, 1px 0 #5cb85f, 0 -1px #5cb85f;
}
#testimonial #myCarousel .carousel-nav-container .fa-custom-testimonial:hover i.fa-chevron-left,
#testimonial #myCarousel .carousel-nav-container .fa-custom-testimonial:hover i.fa-chevron-right {
  color: #fff;
}

@media only screen and (min-width: 769px) {
  #testimonial .carousel-item .testi-card:first-child {
    margin-left: -25% !important;
    margin-right: 60px !important;
  }
  #testimonial .carousel-item .testi-card:last-child {
    margin-right: -25% !important;
    margin-left: 60px !important;
  }
  #testimonial .testi-card .card-body {
    padding: 69px 32px 49px 46px;
  }
  #testimonial .testi-card .client-img {
    width: 100%;
    height: auto;
  }

  #testimonial .carousel-inner,
  #testimonial .carousel-inner > .carousel-item {
    overflow: hidden;
  }
  #testimonial .carousel-inner > .carousel-item.active,
  #testimonial .carousel-inner > .carousel-item-next,
  #testimonial .carousel-inner > .carousel-item-prev {
    display: flex;
    flex-wrap: nowrap;
  }

  #testimonial .carousel-control-prev {
    z-index: 2000;
  }

  #testimonial .carousel-control-next {
    z-index: 2000;
  }
}

/* End of Section Testimonial */

/* Section CTA */

#cta {
  padding-top: 60px;
  padding-bottom: 60px;
}

#cta .container-cta {
  background: #0d28a6;
  border-radius: 13px;
  padding: 64px;
}

#cta .heading-cta {
  font-size: 45px;
}
#cta .desc-cta {
  margin-bottom: 60px;
}
#cta .button-cta {
  background: #5cb85f;
  border-radius: 2px;
  transition: 0.3s ease;
  padding: 8px 12px;
}
#cta .button-cta:hover {
  background: #5cb85fb4;
}

/* End of Section CTA */

/* Section FAQ */

#faq {
  padding-top: 60px;
  padding-bottom: 150px;
}

#faq #faqAccordion .accordion-item {
  background: #ffffff;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  margin-bottom: 20px;
}
#faq #faqAccordion .accordion-button {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 20px;
  padding: 18px 24px;
}
#faq #faqAccordion .accordion-button:focus {
  box-shadow: none;
}

/* End of Section FAQ */

/* Footer Website */

#footer-car {
  padding-bottom: 100px;
}
#footer-car .row .footer-col {
  margin-bottom: 1.25rem;
}

#footer-car .footer-1 a {
  display: block;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.25rem;
  text-decoration: none;
  color: #212529;
  transition: 0.3s ease;
}
#footer-car .footer-1 a:hover {
  color: #0d28a6;
}

#footer-car .footer-2 .footer-nav {
  list-style-type: none;
}
#footer-car .footer-2 .footer-nav .footer-nav-item {
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 16px;
}

#footer-car .footer-3 .footer-sosmed {
  display: inline-block;
  margin: 0 8px;
  transition: 0.3s ease;
}
#footer-car .footer-3 .footer-sosmed:hover {
  opacity: 0.75;
}
#footer-car .footer-3 .footer-sosmed-first {
  margin-left: 0px !important;
}

@media only screen and (max-width: 768px) {
  #footer-car .footer-2 .footer-nav {
    padding-left: 0px;
  }
}
/* End of Footer Website */

/*------------------------------ END OF HALAMAN HOME ---------------------------*/

/*------------------------------ HALAMAN CARI MOBIL ---------------------------*/

/* section hero banner */

.pageCariMobil #hero-banner .banner-right {
  padding-top: 550px;
}

.pageCariMobil #hero-banner img.banner-img {
  z-index: 3;
  min-width: 85%;
}

.pageCariMobil #hero-banner .banner-shape {
  width: 85%;
  height: 50%;
  border-radius: 60px 0 0 0;
  z-index: 2;
}

@media only screen and (min-width: 1000px) {
  .pageCariMobil #hero-banner .banner-left {
    margin-left: -20px;
  }
}
@media only screen and (max-width: 768px) {
  .pageCariMobil #hero-banner .banner-left {
    margin-right: 15%;
  }
  .pageCariMobil #hero-banner .banner-right {
    padding-top: 400px;
  }
}
@media only screen and (max-width: 425px) {
  .pageCariMobil #hero-banner .banner-right {
    padding-top: 250px;
  }
  .pageCariMobil #hero-banner .banner-title {
    line-height: 1.5em;
    font-size: 2.5em;
  }
}

/* end of section hero banner */

/* Section Form Cari Mobil */

#form-pencarian {
  padding-bottom: 60px;
  /* min-height: 30vh; */
}

#form-pencarian .form-box {
  border-radius: 8px;
  padding: 30px 24px 24px 24px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;
  z-index: 4;
  background-color: #fff;
  position: relative;
}
#form-pencarian .form-box:focus-within {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

#form-pencarian .form-box form input,
#form-pencarian .form-box form select,
#form-pencarian .form-box form select option {
  transition: 0.3s ease;
}
#form-pencarian .form-box form select option {
  padding: 10px 11px;
}
#form-pencarian .form-box form select#statusMobil {
  font-weight: 700;
  color: #8a8a8a;
}
#form-pencarian .form-box form input:focus {
  border: solid 1px #35b0a7;
  box-shadow: none;
}
#form-pencarian .form-box form select:focus {
  border: solid 1px #5cb85f;
  box-shadow: none;
}
#form-pencarian .form-box form option:hover {
  background-color: #c9e7ca;
  color: #5cb85f;
  font-weight: 700;
  box-shadow: none;
}
#form-pencarian .form-box .buttonSubmit {
  margin-top: 32px;
  background-color: #5cb85f;
  border-color: #5cb85f;
}
#form-pencarian .form-box .buttonSubmit:hover {
  background-color: #3b923e;
}

@media only screen and (min-width: 992px) {
  #form-pencarian .form-box .submitColumn {
    width: 10%;
  }
  #form-pencarian .form-box {
    transform: translateY(-50%);
  }
}
@media only screen and (max-width: 991px) {
  #form-pencarian .form-box {
    margin-top: -30px;
    margin-right: 0px;
    margin-left: 0px;
  }
}

/* End of Section Form Cari Mobil */

/*------------------------------ END OF HALAMAN CARI MOBIL ---------------------------*/
